<a href="https://colab.research.google.com/github/siddharthsahu88/PythonDemoPrograms/blob/master/pandas_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pnd


#csv_file = "music.csv"  # csv file is present at current directory of this program.
csv_file = '/content/music.csv'

df = pnd.read_csv(csv_file)  # df is dataframe holding data present in file
df_no_head = pnd.read_csv(csv_file, header = None)

In [8]:
df.head(10)

   age  gender      genre
0   20       1     HipHop
1   23       1     HipHop
2   25       1     HipHop
3   26       1       Jazz
4   29       1       Jazz
5   30       1       Jazz
6   31       1  Classical
7   33       1  Classical
8   37       1  Classical
9   20       0      Dance

In [9]:
df_no_head.head()

     0       1       2
0  age  gender   genre
1   20       1  HipHop
2   23       1  HipHop
3   25       1  HipHop
4   26       1    Jazz

In [10]:
df['genre']

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [11]:
type(df['genre'])

pandas.core.series.Series

In [12]:
df[['genre']]

        genre
0      HipHop
1      HipHop
2      HipHop
3        Jazz
4        Jazz
5        Jazz
6   Classical
7   Classical
8   Classical
9       Dance
10      Dance
11      Dance
12   Acoustic
13   Acoustic
14   Acoustic
15  Classical
16  Classical
17  Classical

In [0]:
type(df[['genre']])

pandas.core.frame.DataFrame

In [0]:
df[['age', 'gender']]

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [0]:
df.iloc[2:3, 0:3]

   age  gender   genre
2   25       1  HipHop

In [0]:
df.iloc[5, 2]

'Jazz'

In [0]:
df.loc[8, 'genre']

'Classical'

In [0]:
df[df['genre'] == 'Classical']  # Get all the dataframe where genre is classical only

    age  gender      genre
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [0]:
df.dtypes  # Datatypes of column

age        int64
gender     int64
genre     object
dtype: object

In [0]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [0]:
df['age']

0     20
1     23
2     25
3     26
4     29
5     30
6     31
7     33
8     37
9     20
10    21
11    25
12    26
13    27
14    30
15    31
16    34
17    35
Name: age, dtype: int64

In [13]:
import numpy as np

bins = np.linspace(df['age'].min(), df['age'].max(), 4)  # Creating the bins

groups = ['20 - 25', '25 - 31', '31 - 37']  # Creating list of bins

df['age_group'] = pnd.cut(df['age'], bins, labels=groups, include_lowest=True) # Assigning bins to dataframe

df

    age  gender      genre age_group
0    20       1     HipHop   20 - 25
1    23       1     HipHop   20 - 25
2    25       1     HipHop   20 - 25
3    26       1       Jazz   25 - 31
4    29       1       Jazz   25 - 31
5    30       1       Jazz   25 - 31
6    31       1  Classical   25 - 31
7    33       1  Classical   31 - 37
8    37       1  Classical   31 - 37
9    20       0      Dance   20 - 25
10   21       0      Dance   20 - 25
11   25       0      Dance   20 - 25
12   26       0   Acoustic   25 - 31
13   27       0   Acoustic   25 - 31
14   30       0   Acoustic   25 - 31
15   31       0  Classical   25 - 31
16   34       0  Classical   31 - 37
17   35       0  Classical   31 - 37

In [14]:
pnd.get_dummies(df['genre'])  # Convert categorical variables into numeric 0 or 1

    Acoustic  Classical  Dance  HipHop  Jazz
0          0          0      0       1     0
1          0          0      0       1     0
2          0          0      0       1     0
3          0          0      0       0     1
4          0          0      0       0     1
5          0          0      0       0     1
6          0          1      0       0     0
7          0          1      0       0     0
8          0          1      0       0     0
9          0          0      1       0     0
10         0          0      1       0     0
11         0          0      1       0     0
12         1          0      0       0     0
13         1          0      0       0     0
14         1          0      0       0     0
15         0          1      0       0     0
16         0          1      0       0     0
17         0          1      0       0     0

In [15]:
df

    age  gender      genre age_group
0    20       1     HipHop   20 - 25
1    23       1     HipHop   20 - 25
2    25       1     HipHop   20 - 25
3    26       1       Jazz   25 - 31
4    29       1       Jazz   25 - 31
5    30       1       Jazz   25 - 31
6    31       1  Classical   25 - 31
7    33       1  Classical   31 - 37
8    37       1  Classical   31 - 37
9    20       0      Dance   20 - 25
10   21       0      Dance   20 - 25
11   25       0      Dance   20 - 25
12   26       0   Acoustic   25 - 31
13   27       0   Acoustic   25 - 31
14   30       0   Acoustic   25 - 31
15   31       0  Classical   25 - 31
16   34       0  Classical   31 - 37
17   35       0  Classical   31 - 37